Repository SnO2WMaN/sno2wman.dev-vol.1: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-package-json --write, prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "package.json": [
    "prettier-package-json --write",
    "prettier --write",
    "git add"
  ],
  "*.html": ["prettier --write", "git add"],
  "*.{js,ts}": ["eslint --fix", "prettier --write", "git add"],
  "*.{css,scss}": ["stylelint --fix", "prettier --write", "git add"],
  "*.vue": ["eslint --fix", "stylelint --fix", "prettier --write", "git add"],
  "*.md": ["eslint --fix", "prettier --write", "git add"]
}

⬆️ Lock file maintenance
  package-lock.json
Due: none

⬆️ Update dependency simple-icons to v2
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write

⬆️ Update dependency @bazzite/nuxt-optimized-images to ^0.3.0
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write

⬆️ Update dependency @types/node to v13
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write

⬆️ Update dependency husky to v4
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write

⬆️ Update dependency stylelint to v13
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write

⬆️ Update dependency lint-staged to v10
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write

⬆️ Update dependency @nuxt/types to ^0.6.0
  package.json
Due: prettier-package-json --write, prettier --write

⬆️ Update dependency imagemin-gifsicle to v7
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write

⬆️ Update dependency @nuxt/typescript-build to ^0.5.0
  package-lock.json
  package.json
Due: prettier-package-json --write, prettier --write

📌(Node.js) v12.14.1に固定
  .node-version
Due: none

📖(CONTRIBUTING) 追加
  CONTRIBUTING.md
Due: prettier --write, eslint --fix

🔧 VSCodeの設定を追加
  .vscode/extensions.json
  .vscode/settings.json
Due: none

➕ 依存関係の追加
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

🔧 設定ファイル類追加
  .babelrc
  .editorconfig
  .eslintignore
  .eslintrc
  .gitignore
  .npmrc
  .prettierignore
  .prettierrc
  .stylelintignore
  .stylelintrc
  lefthook.yml
  next-env.d.ts
  src/components/.eslintrc
  tsconfig.json
Due: prettier --write, eslint --fix

✨ 雛形作成
  src/components/Card/index.tsx
  src/components/SideMenu/index.tsx
  src/locales/en/translation.json
  src/locales/i18n.ts
  src/locales/ja/translation.json
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/index.tsx
  src/styles/global.css
Due: prettier --write, eslint --fix, stylelint --fix

✨ ライセンス条項作成
  src/components/Badge/index.tsx
  src/components/SideMenu/License/index.tsx
  src/components/SideMenu/index.tsx
Due: none

🎨 レイアウトを修正
  src/pages/_app.tsx
  src/pages/index.tsx
Due: none
