Repository SnO2WMaN/sno2wman.dev-vol.1: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-package-json --write, prettier --write, eslint --fix, stylelint --fix

➕ `react-use`追加
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

🎬 リンク集のアニメーションの発火タイミング設定
  src/components/Profile/Links/SocialLink.tsx
  src/components/Profile/Links/index.tsx
  src/pages/_app.tsx
  src/pages/store.ts
Due: prettier --write, eslint --fix

♻️ アカウントのリンク集を別ファイルに纏めた
  src/components/Profile/Links/index.tsx
  src/data/accounts.tsx
Due: none

🎬 スキルセットのアニメーションの発火タイミング設定
  src/components/Profile/Links/SocialLink.tsx
  src/components/Profile/Links/index.tsx
  src/components/Profile/Skillset/Category.tsx
  src/components/Profile/Skillset/Skill.tsx
  src/components/Profile/Skillset/index.tsx
  src/pages/_app.tsx
  src/pages/profile.tsx
  src/store/index.ts
Due: prettier --write, eslint --fix

🍱 ブランドロゴ更新
  src/assets/connpass.png
  src/assets/pixiv.png
Due: none

✨ connpassのアカウント追加
  src/data/accounts.tsx
  src/data/brandcolors.json
Due: none

🎬 寄付部分のアニメーションの発火タイミング設定
  src/components/Profile/Donate/Column.tsx
  src/components/Profile/Donate/WidgetButton.tsx
  src/components/Profile/Donate/WidgetButtonsList.tsx
  src/components/Profile/Donate/WishList.tsx
  src/components/Profile/Donate/WishListColumn.tsx
  src/components/Profile/Donate/index.tsx
Due: none

🎨 プロフィール部分の色味を調整
  src/components/Profile/AboutMe/LeftColumn.tsx
  src/components/Profile/AboutMe/RightColumn.tsx
  src/components/Profile/AboutMe/TextBalloon.tsx
  src/components/Profile/AboutMe/index.tsx
  src/components/Profile/Donate/Column.tsx
  src/components/Profile/Donate/WidgetButton.tsx
  src/components/Profile/Donate/WishListButton.tsx
  src/components/Profile/Donate/WishListsList.tsx
  src/components/Profile/Donate/index.tsx
  src/components/Profile/Links/SocialLink.tsx
  src/components/Profile/Links/index.tsx
  src/components/Profile/Skillset/Category.tsx
  src/components/Profile/Skillset/Skill.tsx
  src/components/Profile/Skillset/index.tsx
  src/components/Profile/colors.ts
Due: prettier --write, eslint --fix

🎨 全体の色味を調整
  src/colors.ts
  src/components/Footer/index.tsx
  src/components/Profile/AboutMe/LeftColumn.tsx
  src/components/Profile/AboutMe/RightColumn.tsx
  src/components/Profile/AboutMe/TextBalloon.tsx
  src/components/Profile/AboutMe/index.tsx
  src/components/Profile/Donate/Column.tsx
  src/components/Profile/Donate/WidgetButton.tsx
  src/components/Profile/Donate/WishListButton.tsx
  src/components/Profile/Donate/index.tsx
  src/components/Profile/Links/SocialLink.tsx
  src/components/Profile/Links/index.tsx
  src/components/Profile/Skillset/Category.tsx
  src/components/Profile/Skillset/Skill.tsx
  src/components/Profile/Skillset/index.tsx
  src/components/SideMenu/Column.tsx
  src/components/SideMenu/License/index.tsx
  src/components/SideMenu/index.tsx
  src/pages/_app.tsx
Due: prettier --write, eslint --fix

🚧 形だけページを作成
  src/colors.ts
  src/components/Hero/index.tsx
  src/pages/contact.tsx
  src/pages/license.tsx
  src/pages/works.tsx
Due: prettier --write, eslint --fix

🔧 Nowの設定
  now.json
Due: none

🐛 `Press Start 2P`のフォントを読み込むのを忘れていたのを修正
  src/pages/_document.tsx
Due: none

Path conditions:
  prettier-package-json --write: any of: package.json
  prettier --write: (((((any of: package.json) or (any of: *.html)) or (any of: *.{js,ts})) or (any of: *.{css,scss})) or (any of: *.vue)) or (any of: *.md)
  eslint --fix: ((any of: *.{js,ts}) or (any of: *.vue)) or (any of: *.md)
  stylelint --fix: (any of: *.{css,scss}) or (any of: *.vue)
