Repository SnO2WMaN/sno2wman.dev-vol.1: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-package-json --write, prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "package.json": [
    "prettier-package-json --write",
    "prettier --write",
    "git add"
  ],
  "*.html": ["prettier --write", "git add"],
  "*.{js,ts}": ["eslint --fix", "prettier --write", "git add"],
  "*.{css,scss}": ["stylelint --fix", "prettier --write", "git add"],
  "*.vue": ["eslint --fix", "stylelint --fix", "prettier --write", "git add"],
  "*.md": ["eslint --fix", "prettier --write", "git add"]
}

✨ メニューバー追加
  src/components/SideMenu/Column.tsx
  src/components/SideMenu/index.tsx
  src/locales/en/translation.json
Due: none

🍱 幾つかのSVGファイルを追加
  src/assets/annict.svg
  src/assets/ko-fi.svg
  src/assets/pixiv.svg
Due: none

🔧 SVGファイル読み込み対応
  next.config.js
Due: prettier --write, eslint --fix

✨ リンク集を更新
  src/components/Profile/Links/SocialLink.tsx
  src/components/Profile/Links/index.tsx
Due: none

👍 使用していないリンクを無効化
  src/components/Profile/Links/index.tsx
Due: none

➕ `animejs`と`bezier-easing`追加
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

✨ SNSリンクの作成
  index.d.ts
  src/components/Profile/Links/SocialLink.tsx
  src/components/Profile/Links/index.tsx
  src/pages/profile.tsx
  src/utils/cssShadow.ts
Due: prettier --write, eslint --fix

🍱 幾つかのSVGファイルを追加
  src/assets/bookmeter.svg
  src/assets/qiita.svg
Due: none

🍱 KyashのSVGファイルを追加
  src/assets/kyash.svg
Due: none

➕ `classnames`追加
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

➕ `react-svg-loader`追加
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

🐛 `next/link`を使う
  src/components/SideMenu/Column.tsx
  src/components/SideMenu/License/index.tsx
Due: none

🎨 メニューバーにアニメーションなどを追加
  src/components/SideMenu/Column.tsx
Due: none

➕ `color`追加
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

♻️ ブランドカラーを別ファイルに纏めた
  src/components/Profile/Links/index.tsx
  src/json/brandcolors.json
Due: none

➕ `next-images`追加
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

🚚 SVGファイルを移動
  src/assets/svg/annict.svg
  src/assets/svg/bookmeter.svg
  src/assets/svg/ko-fi.svg
  src/assets/svg/kyash.svg
  src/assets/svg/pixiv.svg
  src/assets/svg/qiita.svg
Due: none

🍱 SVGファイル追加
  src/assets/svg/pepsi.svg
Due: none

✨ 欲しい物リストボタンを追加
  src/components/Profile/Donate/WishList.tsx
  src/components/Profile/Donate/WishListColumn.tsx
  src/components/Profile/Donate/index.tsx
  src/pages/profile.tsx
Due: none

🔧 `next-images`についての設定を追加
  index.d.ts
  next.config.js
Due: prettier --write, eslint --fix

🍱 Ko-fiのロゴファイルについて修正
  src/assets/svg/ko-fi.svg
  src/assets/svg/ko-fi_nofill.svg
Due: none

✨ 寄付ボタンを追加
  src/components/Profile/Donate/WidgetButton.tsx
  src/components/Profile/Donate/WidgetButtonsList.tsx
  src/components/Profile/Donate/index.tsx
Due: none

♻️ 寄付部分のレイアウトのリファクタリング
  src/components/Profile/Donate/Column.tsx
  src/components/Profile/Donate/index.tsx
Due: none

🐛 ファイルのインポートのパス修正
  src/components/Profile/Links/index.tsx
Due: none

🌐 翻訳ファイル更新
  src/locales/en/translation.json
Due: none

✨ フッター作成
  src/components/Footer/index.tsx
Due: none

🎨 背景色を変更
  src/pages/_app.tsx
Due: none

🍱 プロフィール画像追加
  src/assets/me.png
Due: none

✨ AboutMe部分レイアウト作成
  src/components/Profile/AboutMe/LeftColumn.tsx
  src/components/Profile/AboutMe/RightColumn.tsx
  src/components/Profile/AboutMe/TextBalloon.tsx
  src/components/Profile/AboutMe/index.tsx
  src/pages/profile.tsx
Due: none

🔥 サイドメニューからライセンスの部分を削除
  src/components/SideMenu/index.tsx
Due: none

🌐 翻訳対応
  src/components/Footer/index.tsx
  src/components/Profile/AboutMe/LeftColumn.tsx
  src/components/Profile/AboutMe/index.tsx
  src/components/Profile/Donate/WishList.tsx
  src/components/Profile/Donate/index.tsx
  src/components/Profile/Links/index.tsx
  src/components/SideMenu/index.tsx
  src/locales/en/translation.json
  src/locales/i18n.ts
  src/locales/ja/translation.json
Due: prettier --write, eslint --fix

✨ プロフィールのテキストを追加
  src/components/Profile/AboutMe/LeftColumn.tsx
  src/locales/en/translation.json
  src/locales/ja/translation.json
  src/pages/_document.tsx
  src/styles/global.css
Due: prettier --write, stylelint --fix

✨ last.fmとSpeakerdeckのアカウントを追加
  src/components/Profile/Links/index.tsx
Due: none

🚚 ブランドカラーのファイルの移動
  src/data/brandcolors.json
Due: none

🐛 ファイルパス修正
  src/components/Profile/Donate/WidgetButtonsList.tsx
  src/components/Profile/Donate/WishList.tsx
  src/components/Profile/Links/index.tsx
Due: none

🍱 ロゴファイルを追加
  src/assets/animejs.png
  src/assets/aseprite.png
  src/assets/editorconfig.png
  src/assets/parcel-bundler.png
  src/assets/renovate.png
  src/assets/svg/affinity.svg
  src/assets/svg/lefthook.svg
  src/assets/svg/postcss.svg
  src/assets/svg/stylelint.svg
  src/assets/svg/travisci.svg
Due: none

➕ `html-react-parser`と`simple-icons`を追加
  package.json
  yarn.lock
Due: prettier-package-json --write, prettier --write

✨ スキルセット部分作成
  index.d.ts
  src/components/Profile/Skillset/Category.tsx
  src/components/Profile/Skillset/Skill.tsx
  src/components/Profile/Skillset/index.tsx
  src/components/SimpleIconWrapper.tsx
  src/data/skillset.tsx
  src/locales/en/translation.json
  src/pages/profile.tsx
Due: prettier --write, eslint --fix

🎬 スキルセットのアニメーション追加
  src/components/Profile/Skillset/Category.tsx
  src/components/Profile/Skillset/Skill.tsx
  src/components/Profile/Skillset/index.tsx
Due: none

♻️ default exportの名前更新
  src/components/Profile/AboutMe/LeftColumn.tsx
  src/components/Profile/AboutMe/RightColumn.tsx
  src/components/Profile/AboutMe/TextBalloon.tsx
  src/components/Profile/AboutMe/index.tsx
  src/components/Profile/Donate/Column.tsx
  src/components/Profile/Donate/WidgetButton.tsx
  src/components/Profile/Donate/WidgetButtonsList.tsx
  src/components/Profile/Donate/WishList.tsx
  src/components/Profile/Donate/WishListColumn.tsx
  src/components/Profile/Donate/index.tsx
  src/components/Profile/Links/SocialLink.tsx
  src/components/Profile/Links/index.tsx
  src/components/Profile/Skillset/Category.tsx
  src/components/Profile/Skillset/Skill.tsx
  src/components/Profile/Skillset/index.tsx
  src/pages/_app.tsx
Due: none
